<h1>SECRET PAGE</h1>
<p>You found me!</p>
<img src="https://archive.fo/YePPA/28b5b825cf3ef9272681dc590aa8cb8a86a58333.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>